#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
}
.div-grid{
    background-color: white;
    border: 2px solid black;
    width: 30px;
    height: 30px;
}