body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper {
    width: 90vh;
    height: 95vh;
}
.div-container {
    display: flex;
    padding: 0px;
    margin: 0px;
}
.div-grid{
    background-color: white;
    border: 1px solid black;
    margin: 0px;
    pad: 0px;
}